 /*header*/
 .nav-wrapper {
 	width: 100%;
 	height: 50px;
 	position: fixed;
 	z-index: 5;
 	background: #F6F8F9
 }
 .navbar {
 	display: inline-block;
 	vertical-align: middle;
 }
.logo {
	display: inline-block;
	font-family: Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FA6980;
	vertical-align: bottom;
	padding: 18px 92px 17px 20px;
}
.nav-li {
	display: inline-block;
	padding: 20px 27px 18px 0px;
}
.nav-links {
	font-family: Helvetica, sans-serif;
	font-size: 11px;
	color: #343638;
}
.inactive-link {
	opacity: 50%;
}
.pfp {
	display: inline-block;
	vertical-align: middle;
	padding: 11px 0px 9px 13px;
}
/*main*/
/*trending*/
main {
	padding-top: 75px;
	background: #F6F8F9;
}
.trending-wrapper {
	width: 1160px;
	height: 410px;
	margin: auto;
}
.trending-header {
	font-family: Helvetica, sans-serif;
	color: #202124;
	font-weight: bold;
	font-size: 24px;
	padding-bottom: 40px;
}
.article {
	display: inline-block;
	width: 360px;
	height: 350px;
	margin-right: 36px;
}
.article-last {
	margin-right: 0px;
}
.article-img {
	position: relative;
}
.article-title {
	position: absolute;
	top: 28px;
	left: 40px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #FFFFFF;
}
.article-description {
	padding: 66px 40px 0px 40px;
	color: #A6ADB4;
	font-size: 13px;
	font-family: AcuminPro, sans-serif;
}
.time-container {
	padding: 10px 0px 40px 40px;
}
.time {
	font-family: Helvetica, sans-serif;
	font-size: 13px;
	color: #A6ADB4;
	vertical-align: 3px;
	padding-left: 10px;
}
.article-description-box {
	background: #FFFFFF;
	border-radius: 0px 0px 6px 6px;
}
/*happening now*/
.happening-wrapper {
	height: 960px;
	width: 1160px;
	margin: 58px auto;
}
.happening-header {
	font-family: Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #202124;
	height: 20px;
}
.photos-wrapper {
	height: 900px;
	width: 1160px;
}